body {width: 100%; text-align: center; margin: 0; background: #900;}
textarea { width: 50%; height: 10em;}
h1 { width: 228px; height: 133px; float: left; background: url(wrccdc-logo.png) no-repeat; }
h1 span { display: none;}
h3 {clear: right;}
form {clear: left;}
table { border: thin #ccc solid; border-collapse: collapse; margin: 1em 0;}
table th, table td {padding: 0 0.5em; border: thin #ccc solid; vertical-align: top;}

tr.pending {font-weight: bold}
tr.revoked td { color: #ccc;}
tr.revoked td div { text-decoration: none; color: #000;}

#Wrapper { width: 60em; padding: 1em; margin: 0 auto; margin-top: 1em; text-align: left; background: #fff;
-moz-border-radius: 10px;
              -webkit-border-radius: 10px;
              border-radius: 10px;
 }

.aligned { width: 7em; float: left;  margin-right: 0.5em; display: block;}
.instructions {float: right; width: 45%;}

.submit { background: #ffa20f; font-size:1em; padding: 0 0.5em;}
.warn{ border: #c00 thin solid; }
