<html>
<head>
    <title>${self.title()}</title>
    <style type="text/css">
        @import url('/static/style.css');
    </style>
    <script type="text/javascript" src="/static/jquery-1.4.2.js"></script>
</head>

<body>
<div id="Wrapper">
<h1><span>Western Regional Collegiate Cyber Defense Competition<span></h1>
<h2>Flag Server Administration</h2>

${next.body()}

</div>
</body>
</html>

<%def name="title()">
I'm the title
</%def>
